<% if flash.has?(:message) %>
  <%= flash[:message] %>
<% end %>
<form action="/signup" method="POST">
  <label>Email: <input type="text" name="email" id="email"></label> </br>
  <label>Username: <input type="text" name="username" id="username"></label> </br>
  <label>Password: <input type="text" name="password" id="password"></label> </br>
  <input type="submit" id="submit">
</form>
