<a href="/logout">Log Out</a>
<h2>Welcome, <%=@user.username%></h2>
<h3>These are all the beers you have tapped so far:</h3>
<%@user.beers.each do |beer|%>
<p><%=beer.name%> <%=beer.brewery%></p></br>
<%end%>
